<h1>Sessions#new</h1>

<h2>Log In</h2>


<%= form_for(:session, url: login_path) do |f|%>
<%=f.email_field :email, placeholder: 'Email', class:'email', required: true %> <br><br>
<%= f.password_field :password, placeholder: "Password", class: 'email', required: true %> <br>

<%= f.submit 'Log in', class:'submit-btns'%>

<%end%>
