<h1>Make A Move</h1>

<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<%=link_to 'Become a mover', new_mover_path%>
Need help moving? <%=link_to 'Click here', new_movee_path%>
