<h1 class='title'>Make A Move</h1>

<% if !user_signed_in? %>
<div class="two_main_btn">
  <div class="main_choices">
    <%=link_to 'Become a mover', new_mover_path, class: 'large_btn'%>
  </div>
  <div class="main_choices">
    <%= link_to 'Find help to move', new_movee_path, class: 'large_btn'%>
  </div>
<%end%>
<div class="moving_van_img">
  <img src="https://melbournechapter.net/images/clipart-moving-truck.png" alt="">
</div>
