<h1><%=@moving_event.name%></h1>

<li>Starting Day: <%=@moving_event.start_date.strftime("%m/%d/%y")%></li>


<ol>
  <h2>The Crew</h2>
  <% @moving_event.movers.each do |mover|%>
  <li><%= link_to mover.full_name, mover%>  <%=link_to 'remove'%></li>
  <%end%>
</ol>
